@page "/organisations/team/{teamId:int}"
@attribute [Authorize(Policy = Permissions.Teams.View)]
@inject Microsoft.Extensions.Localization.IStringLocalizer<Teams> _localizer
@using DancePlatform.Application.Features.Teams.Queries.GetById


@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudContainer Fixed="true">
        <MudGrid Spacing="0">
            <MudItem xs="3" Style="max-width:200px">
                <MudPaper Class="pa-2 justify-center" Square="true"><BigTitle Title="@_localizer["Team"]" /></MudPaper>
                <MudPaper Class="pa-2" Square="true">
                    <MudContainer Class="pa-2">
                        <div class="d-flex justify-center" style="width:100%">
                            @if (!string.IsNullOrEmpty(@ImageDataUrl))
                            {
                                <div class="mud-avatar mud-avatar-filled mud-avatar-filled-default" style="max-width:100%;height:auto;aspect-ratio:1/1">
                                    <img src="@ImageDataUrl" class="mud-avatar-img">
                                </div>
                            }
                            else
                            {

                                <MudAvatar Color="Color.Secondary" Style="max-width:100%;width:400px;height:unset;aspect-ratio:1/1">@_firstLetterOfName</MudAvatar>
                            }
                        </div>
                        <MudText Class="d-flex justify-center ma-2" Style="font-weight:bold">@_team.Name</MudText>
                        <MudText Class="d-flex justify-center ma-2"><MudIcon Icon="@Icons.Filled.Smartphone"></MudIcon> @(_team.PhoneNumber == null ? "-" : _team.PhoneNumber) </MudText>
                        <InputFile id="fileInput" OnChange="UploadFiles" hidden />
                        <MudButton HtmlTag="label"
                               Variant="Variant.Text"
                               Color="Color.Primary"
                               Size="Size.Small"
                               StartIcon="@Icons.Filled.CloudUpload"
                               for="fileInput"
                               Class="d-flex justify-center ma-2">
                            @_localizer["Upload Image"]
                        </MudButton>
                    </MudContainer>
                </MudPaper>
                <MudPaper Class="pa-2" Square="true">
                    <MudGrid Spacing="1" Class="align-center">
                        <MudItem Class="ma-3" xs="12">
                            <MiniTitle Title="@_localizer["Description"]" />
                            <MudText>
                                @_team.Description
                            </MudText>
                        </MudItem>
                        <MudItem Class="ma-3">
                            <MiniTitle Title="@_localizer["Country"]" />
                            <MudText>@_team.Country</MudText>
                        </MudItem>
                        <MudItem Class="ma-3">
                            <MiniTitle Title="@_localizer["City"]" />
                            <MudText>@_team.City</MudText>
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            </MudItem>

            <MudItem xs="8">
                <MudPaper Square="true">
                    <MudPaper Class="pa-2" Square="true">
                        <div>
                            <MudText Class="d-inline-block" Typo="Typo.h4" Color="Color.Primary">@_localizer["Photos"]</MudText>
                            <InputFile id="photoInput" OnChange="AddPhoto" hidden />
                            <MudButton HtmlTag="label" Style="float:right" DisableElevation Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface" for="photoInput">@_localizer["Upload Photo"]</MudButton>
                            <MudDivider></MudDivider>
                        </div>
                        @if (_teamGallery.Count > 0)
                        {
                            <MudCarousel ItemsSource="@_teamGallery" Style="height:500px" AutoCycle="false">
                                <ItemTemplate>
                                <div class="d-flex flex-column flex-column justify-center" style="height:90%">
                                    <img src="@context" style="max-height:450px;object-fit:scale-down">
                                </div>
                            </ItemTemplate>
                        </MudCarousel>
                        }
                        else{
                            <MudItem>
                                    <MiniTitle Title="@_localizer["No photos"]" />
                                </MudItem>
                        }
                    </MudPaper>
                    <MudPaper Class="pa-2" Square="true">
                        <MudText Class="d-inline-block" Typo="Typo.h4" Color="Color.Primary">@_localizer["Members"]</MudText>
                        <MudButton Style="float: right" DisableElevation Variant="Variant.Filled" Color="Color.Primary" OnClick="@((e) => AddMember())" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface">@_localizer["Add Member"]</MudButton>
                        <MudDivider></MudDivider>
                        <MudGrid>
                            @if (_teamMembers.Count > 0)
                            {
                                @foreach (var member in _teamMembers)
                                {
                                    <MudItem>
                                        <MudCard>
                                            <MudCardContent>
                                                <div class="d-flex justify-center">
                                                    @if (!string.IsNullOrEmpty(member.ProfilePictureDataUrl))
                                                    {
                                                        <MudAvatar Image="@member.ProfilePictureDataUrl" Style="height:75px; width:75px;"> </MudAvatar>
                                                    }
                                                    else
                                                    {
                                                        <MudAvatar Color="Color.Secondary" Style="height:75px; width:75px;">@member.FirstName[0]</MudAvatar>
                                                    }
                                                </div>
                                                <MudText>@member.FirstName @member.Nickname @member.LastName</MudText>
                                                <div class="d-flex justify-center">
                                                    <MudIconButton OnClick="@((e) => RemoveMember(member.Id))" Icon="@Icons.Material.Filled.Block" Color="Color.Error"></MudIconButton>
                                                </div>
                                            </MudCardContent>
                                        </MudCard>
                                    </MudItem>
                                }
                            }
                            else
                            {
                                <MudItem>
                                    <MiniTitle Title="@_localizer["No Members"]" />
                                </MudItem>
                            }
                        </MudGrid>
                    </MudPaper>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudContainer>
}