@page "/organisations/team/{teamId:int}"
@attribute [Authorize(Policy = Permissions.Teams.View)]
@inject Microsoft.Extensions.Localization.IStringLocalizer<Teams> _localizer
@using DancePlatform.Application.Features.Teams.Queries.GetById

<style>
    .mud-table-container {
        overflow: auto;
    }
</style>


@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudContainer Fixed="true">
        <MudGrid Spacing="0">
            <MudItem xs="3">
                <MudPaper Class="pa-2 justify-center" Square="true"><BigTitle Title="@_localizer["Team"]"/></MudPaper>
                <MudPaper Class="pa-2" Square="true">
                    <MudContainer Class="pa-2">
                        <div class="d-flex justify-center">
                            @if (!string.IsNullOrEmpty(@ImageDataUrl))
                            {
                                <MudAvatar Image="@ImageDataUrl" Style="height:250px; width:250px;"> </MudAvatar>
                            }
                            else
                            {
                                <MudAvatar Color="Color.Secondary" Style="height:250px; width:250px;">@_firstLetterOfName</MudAvatar>
                            }
                        </div>
                        <MudText Class="d-flex justify-center ma-2" Style="font-weight:bold">@_team.Name</MudText>
                        <MudText Class="d-flex justify-center ma-2"><MudIcon Icon="@Icons.Filled.Smartphone"></MudIcon> @(_team.PhoneNumber == null ? "-" : _team.PhoneNumber) </MudText>
                        <InputFile id="fileInput" OnChange="UploadFiles" hidden />
                        <MudButton HtmlTag="label"
                               Variant="Variant.Text"
                               Color="Color.Primary"
                               Size="Size.Small"
                               StartIcon="@Icons.Filled.CloudUpload"
                               for="fileInput"
                               Class="d-flex justify-center ma-2">
                            @_localizer["Upload Image"]
                        </MudButton>
                    </MudContainer>
                </MudPaper>
                <MudPaper Class="pa-2" Square="true">
                    <MudGrid Spacing="1" Class="align-center">
                        <MudItem Class="ma-3" xs="12">
                            <MiniTitle Title="@_localizer["Description"]" />
                            <MudText>
                                @_team.Description
                            </MudText>
                        </MudItem>
                        <MudItem Class="ma-3">
                            <MiniTitle Title="@_localizer["Country"]" />
                            <MudText>@_team.Country</MudText>
                        </MudItem>
                        <MudItem Class="ma-3">
                            <MiniTitle Title="@_localizer["City"]" />
                            <MudText>@_team.City</MudText>
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            </MudItem>

            <MudItem xs="8">
                <MudPaper Square="true">
                    <MudPaper Class="pa-2" Square="true">
                        <MudText Typo="Typo.h4" Color="Color.Primary">Posts@*LOCALIZER*@</MudText>
                    </MudPaper>
                    <MudPaper Class="pa-2" Square="true">
                        <MudText Typo="Typo.h4" Color="Color.Primary">Events@*LOCALIZER*@</MudText>
                    </MudPaper>
                    <MudPaper Class="pa-2" Square="true">
                        <MudText Typo="Typo.h4" Color="Color.Primary">Photos@*LOCALIZER*@</MudText>
                    </MudPaper>
                    <MudPaper Class="pa-2" Square="true">
                        <MudText Typo="Typo.h4" Color="Color.Primary">Members@*LOCALIZER*@</MudText>
                    </MudPaper>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudContainer>
}